body {
    background-image: url("https://www.goodnet.org/photos/620x0/30700_hd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color:black;
}

.container{
    background: rgba(145, 144, 144, 0.7);
    border-radius: 10px;
    padding: 2%;
    margin-top: 5%;
}

.txtcolor{
    color: white;
}